/* SECTIONS */
#itemPrice {
    list-style-type: none;
    padding-left: 0;
}
#removeItem {
    list-style-type: none;
    padding-left: 0;
}
#quantity {
    list-style-type: none;
    padding-left: 0;
}
.info {
    display:none;
}
.receipt {
    display:none;
}

/* GENERAL */
h1 {
    text-align: center;
    margin-bottom: 5vh;
    font-family: 'Londrina Outline', cursive;
    font-size: 5em;
    color: rgb(39, 4, 10);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
    background-image: url(../img/11.jpg);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
}

/* HEADER TITLE  */
.movingHeader .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    }

.movingHeader .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }

/* CARDS */
.card {
    background-color: transparent;
    border: 2px solid black;
}

.card-title {
    font-weight: 800;
}

/* BUTTONS */
button {
    margin-left: auto;
    margin-right: auto;
}

